/* *************************** FOR ALL PAGES ********************************************/

/* css for overriding browser 
default spacings for better control  */
HTML,
body,
p {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 16px;
}

/* css for default body font  */
body {
  font-family: "Inter";
  overflow-x: hidden;
}

/* css for background color to be white  */
.container {
  background-color: white;
}

/* 
                                                          POPUP
 */

.popup {
  width: 100%;
  height: 1.5em;
  display: block;
  position: relative;

  background-color: black;
}

.popup p {
  font-family: Inter;
  min-width: 25em;
  font-style: normal;
  font-weight: 800;
  font-size: 0.75em;
  line-height: 1em;
  letter-spacing: 0em;
  color: white;
  text-transform: uppercase;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}

/*                                                      NAVIGATION
 */

/* css for entire navigation div  */
.navigation {
  display: block;
  width: 100%;
  min-height: 2.8em;
  background-color: white;
  position: relative;
  /* padding-bottom: 0.2em; */
  margin-bottom: 0.5em;
  border-bottom: 0.05em solid black;
}

/* css just for logo and logo hover change  */
#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0.2em 0.4em 0.2em 0.4em;
  border-style: solid;
  border-color: black;
  font-size: 1em;
  color: black;
}

#logo:hover {
  color: white;
  background-color: black;
}

/* default link style  */
a {
  color: black;
  text-decoration: none;
}

/* css for keeping nav options to the right half  */
nav {
  float: right;
  max-width: 42%;
  margin-right: 2%;
  font-weight: 500;
}

/* css for nav ul to not have dots  */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* css for nav items spacing  */
nav li {
  float: left;
  position: relative;
  top: 1em;
  min-width: 6em;
  text-align: center;
}

/* css for nav default and onhover styling  */
nav a {
  display: block;
  line-height: 0.75em;
  background: white;
  color: black;
  text-decoration: none;
  font-size: 0.8em;
}

nav a:hover {
  background: white;
  color: blue;
  font-weight: 800;
}

#selected {
  color: grey;
  text-decoration: underline;
}

/*                                                          FOOTER
 */

/* css for footer */
.footer {
  display: block;
  position: relative;
  width: 100%;
  height: 4em;
  background-color: green;
}

/* css for footer image */
.footer img {
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
}

/* *************************** HOME PAGE ONLY ********************************************/

/*                                                    BANNER IMAGE
 */

/* css for nav default and onhover styling  */
.banner {
  display: block;
  max-width: 100%;
  height: 15em;
  background-color: white;
  margin-left: 2%;
  margin-right: 2%;
  position: relative;
  overflow: hidden;
  margin-bottom: 2em;
}

/* css for banner image to be responsive  */
.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* css for perfect sleep exists text to be on top of image */
.banner p {
  position: absolute;
  top: 50%;
  left: 22%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-size: 3em;
  line-height: 4em;
  letter-spacing: 0em;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*                                                      COLLECTION
 */

/* css for collections container to be flexed  */
.collections {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  width: 100%;
  height: 28em;
  background-color: white;
}

/* 
                                                    HAND PICKED
 */

/* css for handpicked container to 
 flex in responsive columns  */
.handpicked {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  width: 46%;
  float: left;
  height: 26em;
  background-color: white;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 2%;
  margin-right: 2%;
}

/* css handpicked collections text title  */
.handpicked p {
  float: left;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2em;
  line-height: 1.2em;
  letter-spacing: 0em;
  color: #000000;
  left: 22%;
}

/* css for collection images row 
and button container  */
.shopcollection {
  display: flex;
  flex-direction: column;
  border: 0.1em solid black;
  margin: 1em 0em 2.5em 0em;
}

/* css for images row in handpicked collection  */
.shopcollection .imagesrow {
  display: inline-flex;
  /* flex-wrap: wrap; */
  justify-content: center;
}

/* css for images row to have no dots 
and their spacing and 
for them to be horizontally aligned to center  */
.shopcollection .imagesrow ul {
  display: inline-flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
  list-style: none;
  margin-top: 3em;
  margin-bottom: 1em;
  justify-content: center;
  margin-left: 0;
  padding-left: 0;
}

/* css for images row to have a margin
and align vertically to the middle  */
.shopcollection .imagesrow ul li {
  margin: 0.5em;
  vertical-align: middle;
}

/* css for images to have black border  */
.shopcollection ul li img {
  border: 0.05em solid black;
}

/* css for shop all button row  */
.shopcollection .shopallbutton {
  display: flex;
  /* flex-wrap: wrap; */
  float: left;
  margin-bottom: 3.6em;
  justify-content: center;
}

/* css for shop all button default
styling and onhover styling  */
#shopall {
  padding: 0.4em 0.4em 0.4em 0.4em;
  font-size: 0.75em;
  color: white;
  background-color: black;
}

#shopall:hover {
  color: black;
  background-color: White;
  border: solid black;
}

/* 
                                                    PILLOWTYPES
 */

/* css for types of pillow options container  */
.pillowtypes {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  width: 46%;
  float: right;
  height: 26em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 2%;
  margin-right: 2%;
}

/* css for Shop different pillows title  */
.pillowtypes p {
  float: left;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2em;
  line-height: 1.2em;
  letter-spacing: 0em;
  color: #000000;
  left: 22%;
}

/* css for pillow types rows  */
.types {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  border: 0.1em solid black;
  margin: 1em 0em 0em 0em;
}

/* css for aligning pillow types in center */
.types .typesrow {
  display: inline-flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  justify-content: center;
  margin: 0;
}

/* css for pillow type images to have no dots */
.types .typesrow ul {
  list-style: none;
}

/* css for pillow type button to 
align vertically to images */
.pillowtypebutton {
  margin-left: 3.6em;
}

/* css for each pillow type text styling */
.pillowtype {
  font-size: 0.8em;
  margin: 1em;
}

/* 
                                                WHY FLUFF STUFF
 */

/* css for why fluff stuff 
 and features container */
.why {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  width: 100%;
  height: 40em;
  background-color: white;
}

/* css for why fluff stuff container */
.whycontainer {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  width: 46%;
  float: left;
  background-color: white;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 2%;
  margin-right: 2%;
}

/* css for why fluff stuff title */
.whycontainer p {
  float: left;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2em;
  line-height: 1.2em;
  letter-spacing: 0em;
  color: #000000;
  left: 22%;
}

/* css for fancy image to be 
centered in that container */
.whyimage {
  margin-top: 1.5em;
  display: flex;
  justify-content: center;
  background-color: white;
}

/* css for the features to stay right
and positioning them */
.whyfeatures {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  width: 46%;
  float: right;
  margin-top: 5em;
  margin-bottom: 0.5em;
  margin-left: 2%;
  margin-right: 2%;
}

/* css for explaining the features
that make fluffstuff unique */
.whyfeatures p {
  float: left;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2em;
  line-height: 1.2em;
  letter-spacing: 0em;
  color: #000000;
  left: 22%;
  padding: 1em 1em 1em 1em;
  border: 0.05em solid black;
}

/* *************************** PRODUCT BROWSING PAGE ONLY ********************************************/

.shoppillows {
  background-color: black;
  margin-left: 2%;
  margin-right: 2%;
  color: white;
  height: 10em;
}

.shoptext {
  position: absolute;
  margin: 0em 1em 1em 8em;
}

/* css for shop all button row  */
.filteroptions {
  display: flex;
  flex-direction: row;
  float: left;
  height: 4em;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 1em;
}

.filteroptions ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  /* float: left; */
  /* width: 96%; */
  margin-left: 4.5em;
}

.left {
  float: left;
  width: 69%;
}

.right {
  float: right;
}

.filteroptions ul li {
  margin: 0em 0.5em 0em 0.5em;
}

/* css for shop all button default
styling and onhover styling  */
.filteroption {
  padding: 0.4em 0.4em 0.4em 0.4em;
  font-size: 0.75em;
  color: black;
  background-color: white;
  border: solid black;
}

.filteroption:hover {
  color: white;
  background-color: black;
}

.productsrow {
  margin-left: 2%;
  margin-right: 2%;
  height: 60em;
}

.productsrow ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1em;
}

.productsrow ul li {
  list-style: none;
}

/* #productimage ul {
  /* display: flex;
  flex-direction: row; */
/* justify-content: flex-start;}
*/

#productimage ul li {
  margin: 0.2em;
}

/* *************************** PRODUCT DETAIL PAGE ONLY ********************************************/
.w3-button {
  margin-top: 100%;
}

.broductsrow {
  margin-left: 2%;
  margin-right: 2%;
  height: 60em;
  margin-top: 5%;
}

.broductsrow .broductrow {
  display: flex;
  flex-direction: row;
}

.broductsrow ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1em;
}

.broductsrow ul li {
  list-style: none;
}

#broductimage ul {
  display: flex;
  flex-direction: row;
}

#broductimage ul li {
  margin: 0.2em;
}

/* css for why fluff stuff 
 and features container */
.imageviewer {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  width: 100%;
  height: 40em;
  background-color: white;
}

/* css for why fluff stuff container */
.largeimage {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  width: 46%;
  float: left;
  background-color: white;
  margin-top: 4em;
  margin-bottom: 0.5em;
  margin-left: 2%;
  margin-right: 2%;
}

/* css for fancy image to be 
centered in that container */
.smallimages {
  margin-top: 1.5em;
  display: flex;
  justify-content: center;
  background-color: white;
}

/* css for the features to stay right
and positioning them */
.productdetails {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  width: 46%;
  float: right;
  margin-top: 5em;
  margin-bottom: 0.5em;
  margin-left: 2%;
  margin-right: 2%;
}

/* css for explaining the features
that make fluffstuff unique */
.productdetails p {
  float: left;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  line-height: 1em;
  letter-spacing: 0em;
  color: #000000;
  left: 22%;
  padding: 1em 1em 1em 1em;
  border: 0.05em solid black;
}

.individualimagesrow {
  margin-left: 2%;
  margin-right: 2%;
  height: 60em;
}

.individualimagesrow ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1em;
}

.individualimagesrow ul li {
  list-style: none;
}

#selectedimage {
  border: 0.1em solid black;
}

.productdetails h3 {
  color: grey;
}

.productdetails ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.productdetails ul li {
  margin: 0.2em;
}

/* css just for logo and logo hover change  */
.buybutton {
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0.2em;
  padding: 0.2em 0.4em 0.2em 0.4em;
  border-style: solid;
  border-color: black;
  font-size: 1.5em;
  color: white;
  background-color: black;
}

.buybutton:hover {
  color: white;
  border: 0.05em solid black;
}

/* *************************** PICKING ASSISTANT PAGE ONLY ********************************************/

.questionnaire {
  margin-left: 2em;
  /* display: flex;
  flex-direction: column;
  width: 46%;
  float: left;
  margin-top: 5em;
  margin-bottom: 0.5em;
  margin-left: 2%;
  margin-right: 2%; */
}

/* css for explaining the features
that make fluffstuff unique */
.questionnaire p {
  display: flex;
  float: left;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  line-height: 1em;
  letter-spacing: 0em;
  color: #000000;
  left: 22%;
  padding: 1em 1em 1em 1em;
  border: 0.05em solid black;
}

/* css for shop all button default
styling and onhover styling  */
#showallrecommendations {
  padding: 0.4em 0.4em 0.4em 0.4em;
  font-size: 0.75em;
  color: white;
  background-color: black;
  margin-left: 2em;
  margin-bottom: 2em;
}

#showallrecommendations:hover {
  color: black;
  background-color: White;
  border: solid black;
}

/* *************************** CART PAGE ONLY ********************************************/

.cart {
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  margin-right: 2%;
  width: 96%;
}

.cart .column-labels {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cartitem {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cartitemimage img {
  width: 250px;
}

.cartitemdetails {
  width: 15%;
}

.totals {
  display: flex;
  flex-direction: column;
  margin-right: 5%;
}

.totals .totals-item {
  display: inline-flex;
  flex-direction: row;
  justify-content: end;
}

.checkout-cart {
  display: flex;
  justify-content: end;
}
